{% extends 'base_main.html' %}

{% block content %}

<form action="{% url 'rooms_url' %}" method="post">
    {% csrf_token %}

    <div class="from-group">
        <div class="row">
            {% for field in form %}
            {{ field.label }}
            {{ field }}
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Найти</button>

    {% for twin_room in hostel_rooms %}

        <div class="row">
            {% for room in twin_room %}

                {%block student_card%}
                {% endblock %}

            {% endfor %}
        </div>
    {% endfor %}

</form>
{% endblock %}