{% extends 'base_main.html' %}

{% block content %}

    <form action="{% url 'rooms_url' %}" method="post">
        {% csrf_token %}

        <div class="from-group">

            <p style="">{{ form.all }} Все места</p>
            <p>{{ form.men }} Мужские места {{ form.women }} Женские места </p>
            <p>{{ form.free }} Пусто места {{ form.busy }} Занято места </p>


        </div>

        <button type="submit" class="btn btn-primary">Найти</button>

        {% for twin_room in hostel_rooms %}

            <div class="row">
                {% for room in twin_room %}

                    {% block student_card %}
                    {% endblock %}

                {% endfor %}
            </div>
        {% endfor %}

    </form>
{% endblock %}