{% extends 'hostel/base_home.html' %}

{% block check_in %}
<form action="{% url 'check_in_url' %}" method="post">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{error}}
        </div>
    {% endfor %}

    {% for field in form %}
        <div class="from-group">
            {{ field.label }}
            {{ field }}

            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Check IN</button>
</form>
{% endblock %}