{%extends 'hostel/base_home.html'%}

{%block number%}
    <br>

    <h4>Статистика по комнатам:</h4>
	<li>Количество проживающих: {{hostel_stat.number_of_residents}}</li>
    <li>Количество свободных мужских мест: {{hostel_stat.male_places}}</li>
	<li>Количество свободных женских мест: {{hostel_stat.female_places}}</li>
	<li>Количество мест "занято": {{hostel_stat.save_places}}</li>
	<li>Количество мест "пустое": {{hostel_stat.empty_places}}</li>
    <br>

    <h4>Статистика по гражданству:</h4>
	{% for key, value in hostel_stat.citizenship.items %}
		<li>
			{{key}} : {{value}}
		</li>
	{% endfor %}
    <br>

    <h4>Статистика по факультетам:</h4>
	{% for key, value in hostel_stat.faculty.items %}
		<li>
			{{key}} : {{value}}
		</li>
	{% endfor %}
    <br>

    <h4>Статистика по формам обучения</h4>
	{% for key, value in hostel_stat.form_studies.items %}
		<li>
			{{key}} : {{value}}
		</li>
	{% endfor %}
    <br>

    <h4>Общая статистика</h4>
	{% for key, value in hostel_stat.registration.items %}
		<li>
			{{key}} : {{value}}
		</li>
	{% endfor %}
    <br>
	
{% endblock %}


